@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Mukta', 'sans-serif';
}


.sidebar{
  transition: left 0.5s ease-in-out;
  
}
.sidebar.open{
  width: 0rem;
  display: none;
  
}

.main{
  width: calc(100% - 12rem);
  position: absolute;
  top: 0;
  left: 12rem;
  transition: 0.1s ease-in-out;
  
}
.main.open{
  width: calc(100% - 0rem);
  left: 0;
}

.herobg{
  background: url(./assets/Poster.png) no-repeat center center / cover;
  height: 30rem;
}

@media (max-width: 576px){
  .herobg{
    height: 17rem;
  }
  .main{
    width: calc(100% - 0rem);
    position: absolute;
    left: 0rem;
    transition: 0.1s ease-in-out;
    
  }
  .main.open{
    width: calc(100% - 0rem);
    left: 0;
  }
}
